{% extends "base.html" %}

{% block title %} Colleges {% endblock %}

{%block content %}
<h1>Edit College</h1>
<form action="/colleges/edit/{{college.college_code}}" method="POST">
  {{form.csrf_token}}
  <div class="mb-3">
    <div>
      <h6>Currently Editing:</h6>
      <div>{{college.college_code}} - {{college.college_name}}</div>
    </div>
    <br>
    {{form.college_code.label(class_="form-label")}}
    {{form.college_code(class_="form-control")}}
    {% if form.college_code.errors %}
    <ul class="errors form-text text-danger fw-bold">
    {% for error in form.college_code.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <div class="mb-3">
    {{form.college_name.label(class_="form-label")}}
    {{form.college_name(class_="form-control")}}
    {% if form.college_name.errors %}
    <ul class="errors form-text text-danger fw-bold">
    {% for error in form.college_name.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}